/*

    VARIABLES

*/

/*
    Breakpoints
*/

$breakpoint: 640px;

/*
    Colours
*/
$accent-color: #2e3846;
$dark-color: #111;
$light-color: #888;
$border-color: #eee;

/*
    Font Family
*/
$font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;

/*
    Font Size
*/
$font-size-normal: 1em;
$font-size-smaller: .875em;
$font-size-smallest: .75em;

/*
    Line Height
*/
$line-height: 1.5em;
